<header class="site-header">
  <div class="wordmark">evento<span>s</span></div>
  <ul class="nav-links">
    <li><a href="index.html" class="active">Inicio</a></li>
    <li class="nav-item">
      <a href="index.html#eventos">Eventos disponibles</a>
      <div class="dropdown">
        <a href="#" data-modality="in-person">Presenciales</a>
        <a href="#" data-modality="virtual">Virtuales</a>
      </div>
    </li>
    <li id="navMisEventos"></li>
    <li id="navPortal"></li>
    <li id="navPerfil"></li>
    <li id="navAccount"></li>
    <li class="nav-item" id="navNotif"></li>
  </ul>
  <div class="header-tag">Universidad de Cartagena</div>
</header> 